.videoContainer {
  border: 1px solid black;
  width: 320px;
  height: 240px;
}

.canvasContainer {
  width: 320px;
  height: 240px;
}

.cardContentFlex {
  align-items: center;
}

.shootEmojiContainer {
  margin-top: 10px;
}
